In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc

font_name = font_manager.FontProperties(fname='C:\\Windows\\Fonts\\malgun.ttf').get_name()
rc('font', family=font_name)

In [2]:
my_header = ['a','b','c']

In [3]:
my_index_out = ['G1']*3 + ['G2']*3
my_index_out

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
my_index_in = [1,2,3]*2
my_index_in

[1, 2, 3, 1, 2, 3]

In [9]:
my_index_zipped = list(zip(my_index_out, my_index_in))

In [13]:
my_index = pd.MultiIndex.from_tuples(my_index_zipped)
my_index.names = ['OUT', 'IN']
my_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           names=['OUT', 'IN'])

In [83]:
df = pd.DataFrame(data=np.random.randn(6,3), columns=my_header, index=my_index)
# df = pd.DataFrame(data=np.random.randn(3,6), index=my_header, columns=my_index)  # 이것도 된다.
df

               a         b         c
OUT IN
G1  1  -0.296213 -1.417884  0.669891
    2   0.783139  0.029126 -1.009978
    3   0.541948  1.073297 -0.364947
G2  1   0.551904 -1.439910  0.120262
    2   1.305762  0.329354 -0.369044
    3  -0.207207 -0.151995 -0.713100

In [26]:
df.loc['G1'].loc[1,'a'] # slice 할때 겹겹히 들어가서 하면 된다.

-0.48254544320494147

In [99]:
df = pd.read_csv('./data/data_studentlist_en.csv', header='infer', encoding='latin1')

In [35]:
df.head(3)

             name gender  age  grade absence bloodtype  height  weight
0   Jared Diamond      M   23      3       Y         O   165.3    68.2
1  Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2    Brian Martin      M   24      4       N         B   175.0    80.1

In [36]:
df[df.gender=='M'].height.mean()

172.41

In [37]:
df[df.gender=='F'].height.mean()

166.64285714285714

In [38]:
# SELECT AVG(*) FROM table GROUP BY bloodtype

df.groupby('bloodtype').mean()

                 age     grade   height  weight
bloodtype
A          21.250000  1.000000  169.075   55.50
AB         22.333333  2.333333  177.400   71.50
B          23.000000  3.000000  171.280   64.20
O          22.600000  2.600000  165.140   56.12

In [48]:
df2 = df.groupby(['gender','absence'])[['height','weight']].mean()  #  ==> multiindex
df2

                    height     weight
gender absence
F      N        166.416667  50.600000
       Y        168.000000  49.500000
M      N        174.728571  69.228571
       Y        167.000000  66.800000

In [50]:
df2.loc['M'].loc['Y'].height  # dataframe에서는 .loc으로 indexing 하지만 
                              # Series에서는 생략하고 indexing해도 된다.
                              # ex) df['F']['N']

167.0

In [52]:
df.height = df.height.apply(lambda x : x/100) # 값에 어떤 함수를 적용하는 법

In [53]:
df.height

0     1.653
1     1.701
2     1.750
3     1.821
4     1.680
5     1.620
6     1.552
7     1.769
8     1.785
9     1.761
10    1.671
11    1.800
12    1.622
13    1.761
14    1.582
15    1.686
16    1.692
Name: height, dtype: float64

In [103]:
# SELECT * FROM table ORDER BY bloodtype ASC, absence DESC

df.sort_values(by=['bloodtype','absence'], ascending=[True,False]) # 정렬 기준과 순서를 각각 정해줄 수 있음
                                                                   # dataframe을 sort할때는 by인자가 필요하다 Series는 필요 X

                name gender  age  grade absence bloodtype  height  weight
4    Clara Rodriquez      F   20      1       Y         A   168.0    49.5
7    Margareth Jones      F   23      1       N         A   176.9    55.0
12      Eddy Johnson      M   21      1       N         A   162.2    55.3
16      Andrew Daley      M   21      1       N         A   169.2    62.2
1     Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
3       David Hassel      M   23      3       N        AB   182.1    85.7
11      John Matsuda      M   22      2       N        AB   180.0    75.8
15    Richard Swayze      M   24      4       Y         B   168.6    70.2
2       Brian Martin      M   24      4       N         B   175.0    80.1
8       John Bertsch      M   23      3       N         B   178.5    64.2
9     Jake Timmerman      M   22      2       N         B   176.1    61.3
14      Linda Carter      F   22      2       N         B   158.2    45.2
0      Jared Diamond      M   23      3       Y         O   165.3    68.2
10     Joshua Connor      M   24      4       Y         O   167.1    62.0
5   Jennifer Lorentz      F   21      2       N         O   162.0    52.0
6        Susan Clark      F   22      1       N         O   155.2    45.3
13  Rebecah Anderson      F   23      3       N         O   176.1    53.1

In [61]:
df.bloodtype.unique()

array(['O', 'AB', 'B', 'A'], dtype=object)

In [62]:
df.bloodtype.value_counts()

O     5
B     5
A     4
AB    3
Name: bloodtype, dtype: int64

In [64]:
df.bloodtype.mode()  # 최빈값  대표값을 정할때 문자열이니 평균(mean)이 적용이 안된다.

0    B
1    O
dtype: object

In [74]:
df.groupby(['gender','absence','bloodtype']).height.mean()   # Series

gender  absence  bloodtype
F       N        A            1.769000
                 AB           1.701000
                 B            1.582000
                 O            1.644333
        Y        A            1.680000
M       N        A            1.657000
                 AB           1.810500
                 B            1.765333
        Y        B            1.686000
                 O            1.662000
Name: height, dtype: float64

In [101]:
pd.pivot_table(df, index=['gender','bloodtype'],columns=['absence'], values=['height'], fill_value=0, aggfunc=np.std)  # DataFrame 
# aggfunc defalut값이 np.mean이라 출력시 평균을 나타내줌
# groupby는 columns를 넣을 수 없다.
# pivot_table은 group by의 확장버전이라 생각하면 된다.

                     height
absence                   N         Y
gender bloodtype
F      O          10.660363  0.000000
M      A           4.949747  0.000000
       AB          1.484924  0.000000
       B           1.789786  0.000000
       O           0.000000  1.272792

In [77]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                          "bar", "bar", "bar", "bar"],
                    "B": ["one", "one", "one", "two", "two",
                          "one", "one", "two", "two"],
                    "C": ["small", "large", "large", "small",
                          "small", "large", "small", "small",
                          "large"],
                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
df

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

In [78]:
# A,B의 값으로 인덱스, C의 값으로 컬럼, 실제 셀에 들어가는 값은 E의 평균.
pd.pivot_table(df, index=['A','B'], columns='C', values='E')

C        large  small
A   B
bar one    6.0    8.0
    two    9.0    9.0
foo one    4.5    2.0
    two    NaN    5.5