In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc

font_name = font_manager.FontProperties(fname='C:\\Windows\\Fonts\\malgun.ttf').get_name()
rc('font', family=font_name)

In [5]:
df = pd.read_csv('./data/data_studentlist_en.csv')
df.shape

(17, 8)

In [6]:
df.head()

              name gender  age  grade absence bloodtype  height  weight
0    Jared Diamond      M   23      3       Y         O   165.3    68.2
1   Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2     Brian Martin      M   24      4       N         B   175.0    80.1
3     David Hassel      M   23      3       N        AB   182.1    85.7
4  Clara Rodriquez      F   20      1       Y         A   168.0    49.5

In [29]:
df.groupby('bloodtype')['height',].mean()

            height
bloodtype
A          169.075
AB         177.400
B          171.280
O          165.140

In [19]:
df.pivot_table(index='bloodtype',values='height',aggfunc=np.mean)

            height
bloodtype
A          169.075
AB         177.400
B          171.280
O          165.140

In [21]:
df.pivot_table(columns='bloodtype',values='height',aggfunc=np.mean)

bloodtype        A     AB       B       O
height     169.075  177.4  171.28  165.14